name: Semgrep SAST

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep CI
        uses: returntocorp/semgrep-action@v1
        with:
          publish-token: ${{ secrets.SEMGREP_APP_TOKEN }}  # <-- this uploads results to dashboard
          # config: auto   # REMOVE this line when using publish-token
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
